= turbo_stream_from @branch
.d-flex.justify-content-between.mb-3.align-items-start
  .div
    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to "Projects", projects_path
        %li.breadcrumb-item
          = link_to @project.name, project_path(@project)
        %li.breadcrumb-item.active{"aria-current" => "page"}= @branch.name
    %h1.fs-3.mb-0 Translations
  .actions.d-flex.flex-row.align-items-end
    .me-5= render GithubLinkComponent.new(@branch.url)
    = link_to "Commit", commits_project_branch_path(@project, @branch), class: 'btn btn-primary me-2'

    %div{id: dom_id(@branch)}
      = render SyncBranchWidgetComponent.new(@branch)

= render BranchTranslationsComponent.new(@branch, @translations_presenter)
