= turbo_stream_from @pull_request
.d-flex.justify-content-between.mb-3.align-items-start
  .div
    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to "Projects", projects_path
        %li.breadcrumb-item
          = link_to @project.name, project_path(@project)
        %li.breadcrumb-item.active{"aria-current" => "page"}= @pull_request.title
    .d-flex.justify-content-between
      %h1.fs-3.mb-0 Translations
  .actions.d-flex.flex-row.align-items-end
    .me-5= render GithubLinkComponent.new(@pull_request.url)
    - if policy(@project).commit?
      = link_to "Commit", commits_project_pull_request_path(@project, @pull_request), class: 'btn btn-primary me-2'
    %div{id: dom_id(@pull_request)}
      = render SyncPullRequestWidgetComponent.new(@pull_request)

= render PullRequestTranslationsComponent.new(@pull_request, @translations_presenter)
