.d-flex.justify-content-between.align-items-center
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to "Projects", projects_path
      %li.breadcrumb-item
        = link_to @project.name, project_path(@project)
      %li.breadcrumb-item.active{"aria-current": "page"}
        Edit

= simple_form_for @project do |f|
  = f.input :name
  = f.input :default_locale
  = f.input :translations_path, hint: "Path to the translations files", placeholder: "config/locales"
  = f.input :public, as: :boolean, hint: "If the project is public, it will be visible to everyone"
  = f.button :submit, class: "btn btn-primary"
