.d-flex.justify-content-between.align-items-center
  %h1 Projects
  .actions.d-flex.flex-row.align-items-end
    - if policy(Project).new?
      = link_to 'New Project', new_project_path

- @projects.each do |project|
  .card.mb-3
    .card-header
      .d-flex.justify-content-between.align-items-center
        = link_to project.remote_repository_id, project_path(project)
        - if project.public?
          %span.badge.bg-primary
            Public
        - else
          %span.badge.bg-danger
            Private
    .card-body
      .d-flex.justify-content-between
        .keys
          %strong Keys:
          = project.stats.total_keys
        .percent-translated
          %strong Percent Translated:
          = "#{project.stats.total_percent_translated.ceil}%"
      %br
      %table.table
        %thead
          %tr
            %th Locale
            %th Percent Translated
        %tbody
          - project.stats.locales.each do |locale_stats|
            %tr
              %td= locale_stats.locale
              %td= "#{locale_stats.percent_translated.ceil}%"


%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Actions
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.id
        %td= link_to project.remote_repository_id, project_path(project)
        %td
          = link_to "edit", edit_project_path(project) if policy(project).edit?
          = link_to "delete", project, "data-turbo-method": "delete", "data-turbo-confirm": "Are you sure?" if policy(project).destroy?

= paginate @projects, theme: 'bootstrap-5'
