.d-flex.justify-content-between.align-items-center
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to "Projects", projects_path
      %li.breadcrumb-item.active{"aria-current": "page"}
        New Project

.row
  .col-md-6.col-md-offset-3
    = simple_form_for @project do |f|
      = f.input :name
      = f.input :remote_repository_id, collection: current_user.github_remote_repositories_for_select, label: "Github Repository", prompt: "Select a repository", hint: connect_to_github_message
      = f.input :default_locale
      = f.input :translations_path, hint: "Path to the translations files", placeholder: "config/locales"
      = f.button :submit, class: "btn btn-primary"
