= turbo_stream_from @project
.d-flex.justify-content-between.align-items-center
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to "Projects", projects_path
      %li.breadcrumb-item.active{"aria-current": "page"}
        = @project.name
  .actions.d-flex.flex-row.align-items-end
    .me-5= render GithubLinkComponent.new(@project.url)
    = render SyncProjectWidgetComponent.new(@project)

.d-flex.justify-content-between.align-items-center
  %h1.fs-3.mb-0= @project.name
  .links
    = link_to "edit", edit_project_path(@project)
    = link_to "members", project_members_path(@project)


- if @project.default_branch
  %div.mb-3.pt-1
    Default branch:
    %code #{@project.default_branch.name}
    with
    %strong
      #{@project.default_branch.translations.select('key').distinct.count} keys
    and
    %strong
      #{@project.default_branch.translations.select('locale').distinct.count} locales
.row
  .col-md-6
    %h2 Pull Requests
    - if @project.pull_requests.empty?
      %p No pull requests
    - else
      %ul.list-group
        - @project.pull_requests.each do |pr|
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            = link_to pr.title, project_pull_request_path(@project, pr), class: 'text-decoration-none'
            = link_to pr.url, target: '_blank' do
              %span.badge.text-bg-primary.rounded-pill
                = pr.state
                %i.bi.bi-box-arrow-up-right

  .col-md-6
    %h2 Branches
    - if @project.branches.empty?
      %p No branches
    - else
      %ul.list-group
        - @project.branches.each do |branch|
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            = link_to branch.name, project_branch_path(@project, branch), class: 'text-decoration-none'
