%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
  %meta{name: "turbo-cache-control", content: "no-cache"}
  %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}/
  %link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
  %link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
  %link{href: "/site.webmanifest", rel: "manifest"}/
  %link{color: "#0036f5", href: "/safari-pinned-tab.svg", rel: "mask-icon"}/
  %meta{content: "#2d89ef", name: "msapplication-TileColor"}/
  %meta{content: "#ffffff", name: "theme-color"}/
  %title Babelfu
  = csrf_meta_tags
  = csp_meta_tag
  = vite_client_tag
  = vite_javascript_tag 'application'
  = vite_stylesheet_tag 'bootstrap.scss'
  = vite_stylesheet_tag 'application.scss'
